@page
@model newproject.Pages.Calculadora
@{
    ViewData["Title"] = "Calculadora";
}

<h1>@ViewData["Title"]</h1>

<div class="container bg-primary vh-60 vw-30 border rounded overflow-hidden">
    <div class="row">
        <div class="col-1"></div>
        <div class="col bg-dark mt-1 mb-1 h-50px">
            <p class="w-100"></p>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-3 ">
            <button class="w-100">1</button>
        </div>
        <div class="col-3">
            <button class="w-100">2</button>
        </div>
        <div class="col-3">
            <button class="w-100">3</button>
        </div>
        <div class="col-3">
            <button class="w-100">delete</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="w-100">4</button>
        </div>
        <div class="col-3">
            <button class="w-100">5</button>
        </div>
        <div class="col-3">
            <button class="w-100">6</button>
        </div>
        <div class="col-3">
            <button class="w-100">-</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="w-100">7</button>
        </div>
        <div class="col-3">
            <button class="w-100">8</button>
        </div>
        <div class="col-3">
            <button class="w-100">9</button>
        </div>
        <div class="col-3">
            <button class="w-100">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-3">
            <button class="w-100">0</button>
        </div>
        <div class="col-5"></div>
            <button class="w-100">=</button>
        </div>
    </div>
</div>