@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio sesion";
}
<div class="container align-content-between">
    <div class="row">
        <form method="post">
            <label for="nombreUsuario">
                Ingrese su nombre de usuario:
                <input type="text" id="nombreUsuario" asp-for="nombreUsuario" placeholder="fulanito..." required/>
            </label>
            <br>
            <label asp-for="contra">
                Ingrese su contrasenia:
                <input type="password" id="contra" asp-for="contra" placeholder="fulanita..." required />
            </label>
            <br>
            <button type="submit">Aceptar</button>
        </form>
    </div>

</div>
<footer>chau( este es el footer)</footer>
